#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: blue;
    color: #d9c2a3;
}

.book, .join{
    background-color: rgb(169, 212, 112);
    color: #ffb114;
    text-decoration: none;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: blanchedalmond;
    color: aquamarine;
}

#background{
    background-color: brown;
}

.msg{
    background-color: rgb(162, 143, 68);
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: rgb(36, 70, 22);
    color: rgb(163, 61, 20);
}

nav a{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

.home-title{
    color: forestgreen;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: gray;
}

.msg h2{
    color: rgb(52, 92, 18);
}

.msg p{
    color: rgba(56, 53, 45, 0.923);
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a{
    color: #bbff00;
    text-decoration: none;
}

footer a:hover{
    color: rgb(232, 117, 10);
}

#hero-msg h1{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding-top: 15px;
}

.river-card, .camping-card, .raipds-card {
    margin: 200px 0;
}

.card-img{
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}